html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card {    
    text-align: left;
    width: 70%;
    margin: 3% auto;
    border: 1px solid #ccc;
}

.mat-mdc-form-field {
    width: 98%;
    margin: 1%;
}

.mat-50 {
    width: 48%;
    margin: 1%;
}

.div-50 {
    width: 48%;
    margin: 1%;
    display: inline;
}

.mat-mdc-raised-button {
    width: 100%;
}

button {
    margin: 2px;
}

.fileUploadContainer {
    padding: 10px;
    width: 150px;
    height: auto;
    border: dashed 1px #b3b3b3;
    text-align: center;   
    margin-left: 35%; 
  
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-height: 100%;
      max-width: 100%;
    }
    
    .deleteButton{
        position: absolute;
        z-index: 10;
        top: -25px;
        
        opacity:50%
    }

    .fileInput {
        position: absolute;
        z-index: 9;
        opacity: 0;
        height: 100%;
        width: 100%;
        left: 0px;
        top: 0px;
        cursor: pointer;
    }
  }